<a href="https://colab.research.google.com/github/MJ-best/TimeSerise_StudyNote/blob/main/TimeSerise_StudyNote_20221231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시계열데이터 공부노트

In [2]:
import datetime
from pytz import timezone

print("last update : ",datetime.datetime.now(timezone('Asia/Seoul')))

last update :  2022-12-31 00:25:55.930288+09:00

## [DACON] 2022 UOS 빅데이터 알고리즘 경진대회

[출처] https://dacon.io/competitions/official/236029/overview/description

[배경]전 세계의 많은 도시가 교통 정체와 대기 오염의 감축을 위해 공유 자전거 시스템을 도입하고 있으며,

국내의 경우에는 대표적으로 2015년부터 서울시에서 서비스 중인 '따릉이'라는 공유 자전거 시스템이 있습니다.

따릉이 이용객이 증가함에 따라 각 지역구에서 공유 자전거 수요는 증가하고 있지만, 한정된 예산하에서 수요를 관리하기 때문에 운영과 관리에 어려움이 존재합니다.

또한 최근에는 코로나로 인한 사회적 거리두기가 해제되면서 서울시의 따릉이 수요는 나날이 급증하고 있습니다.



따라서 다음 해의 서울시 지역구별 따릉이 수요를 정확히 예측할 수 있다면 대여소의 확장, 공유 자전거 신규 도입 등에 더 효율적으로 예산을 활용할 수 있을 것입니다.



이번 경진대회에서 따릉이의 효율적인 운영과 관리에 도움을 줄 수 있는 서울시 지역구별 따릉이 대여량 예측 AI 모델을 만들어 주세요.



[주제]
서울시 지역구별 따릉이 대여량 예측 모델 개발



[설명]
2022년의 서울시 지역구별 일별 따릉이 대여량 회귀 예측

In [3]:
import io
import os
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

from sklearn import preprocessing

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score
from sklearn.model_selection import GridSearchCV, cross_val_score, cross_validate

import tensorflow as tf

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [6]:
path = '/content/drive/MyDrive/Colab Notebooks/[DACON]UOS따릉이시계열분석/data'
os.chdir(path)
df = pd.read_csv("train.csv", encoding='utf-8-sig', error_bad_lines=False)

In [7]:
df

            일시    광진구   동대문구    성동구    중랑구
0     20180101  0.592  0.368  0.580  0.162
1     20180102  0.840  0.614  1.034  0.260
2     20180103  0.828  0.576  0.952  0.288
3     20180104  0.792  0.542  0.914  0.292
4     20180105  0.818  0.602  0.994  0.308
...        ...    ...    ...    ...    ...
1456  20211227  3.830  3.416  2.908  2.350
1457  20211228  4.510  3.890  3.714  2.700
1458  20211229  4.490  3.524  3.660  2.524
1459  20211230  4.444  3.574  3.530  2.506
1460  20211231  3.616  3.210  2.620  2.146

[1461 rows x 5 columns]